body{
    background-color: #010101;
    font-family: 'Roboto', sans-serif;
}
h1{
    color: #ffffff;
    font-weight: bold;
    font-size: 900;
    letter-spacing: .1em;
}
.input-search{
    display: block;
    width: 600px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #3b3943;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cna-box-svg{
    background-color: transparent;
    max-width: 150px;
    color: #bfc2c9;
}

.cna-box-svg svg{
   fill: #646270;
   
}
